{% extends '@Messenger/base.html.twig' %}

{% block title %}{{ chat.title }}{% endblock %}

{% block body %}

    {{ breadcrumbAdd('Message', '/chat') }}
    {{ breadcrumbAdd(chat.title, '/chat/view/' ~ chat.id) }}
    {{ breadcrumbAdd('Update', '/chat/update/' ~ chat.id) }}

    <h3>
        {{ chat.title }} Update
        {#<span class="label label-default">{{ chat.category.title }}</span>#}
    </h3>

{% endblock %}